.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 18%;
    color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar-title {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0 15px;
    background-color: transparent;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-menu a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.navbar-menu a:hover:after {
    width: 100%;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .icon {
    margin-left: 15px;
    font-size: 20px;
}

.navbar-lang {
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
